// --------------------------------------------------
// COLOR PALETTE
// --------------------------------------------------

// Neutros
$black:        #000000;
$white:        #ffffff;
$gray-dark:    #5b5b5b;
$gray-normal:  #D3D3D3;
$gray-light:   #F3F3F3;

// Cores principais
$primary:      #888888;
$primary-light:#444444;

// Cores complementares
$success:      #2ecc71;
$danger:       #e74c3c;
$warning:      #f1c40f;
$info:         #3498db;


.color-primary{
   color: $primary;
}

.bg-light{
   background: $primary-light;
}